/* Catppuccin Mocha Blue userChrome.css*/

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #181825 !important;
    --zen-primary-color: #89b4fa !important;
    --zen-colors-secondary: #313244 !important;
    --zen-colors-tertiary: #181825 !important;
    --zen-colors-border: #89b4fa !important;
    --toolbarbutton-icon-fill: #89b4fa !important;
    --lwt-text-color: #cdd6f4 !important;
    --toolbar-field-color: #cdd6f4 !important;
    --tab-selected-textcolor: rgb(171, 197, 247) !important;
    --toolbar-field-focus-color: #cdd6f4 !important;
    --toolbar-color: #cdd6f4 !important;
    --newtab-text-primary-color: #cdd6f4 !important;
    --arrowpanel-color: #cdd6f4 !important;
    --arrowpanel-background: #1e1e2e !important;
    --sidebar-text-color: #cdd6f4 !important;
    --lwt-sidebar-text-color: #cdd6f4 !important;
    --lwt-sidebar-background-color: #11111b !important;
    --toolbar-bgcolor: #181825 !important;
    --newtab-background-color: #1e1e2e !important;
    --zen-themed-toolbar-bg: #181825 !important;
    --zen-main-browser-background: #181825 !important;
    --toolbox-bgcolor-inactive: #181825 !important;
  }

  #permissions-granted-icon {
    color: #181825 !important;
  }

  .sidebar-placesTree {
    background-color: #1e1e2e !important;
  }

  #zen-workspaces-button {
    background-color: #1e1e2e !important;
  }

  #TabsToolbar {
    background-color: #181825 !important;
  }

  .urlbar-background {
    background-color: #1e1e2e !important;
  }

  .content-shortcuts {
    background-color: #1e1e2e !important;
    border-color: #89b4fa !important;
  }

  .urlbarView-url {
    color: #89b4fa !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #11111b !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #313244 !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #11111b;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #89b4fa !important;
    --identity-icon-color: #89b4fa !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #94e2d5 !important;
    --identity-icon-color: #94e2d5 !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6e3a1 !important;
    --identity-icon-color: #a6e3a1 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #f9e2af !important;
    --identity-icon-color: #f9e2af !important;
  }

  .identity-color-orange {
    --identity-tab-color: #fab387 !important;
    --identity-icon-color: #fab387 !important;
  }

  .identity-color-red {
    --identity-tab-color: #f38ba8 !important;
    --identity-icon-color: #f38ba8 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f5c2e7 !important;
    --identity-icon-color: #f5c2e7 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #cba6f7 !important;
    --identity-icon-color: #cba6f7 !important;
  }

  hbox#titlebar {
    background-color: #181825 !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #181825 !important;
  }
}

.urlbarView-title-separator, .urlbarView-url, .urlbarView-action, menuseparator {
  display: none
}

.toolbarbutton-1:not(#tabs-newtab-button) {
  --toolbarbutton-icon-fill: #cdd6f4 !important;
}

#tabbrowser-tabs .tabbrowser-tab[selected] .tab-background {
  background: #89b4fa !important;
}

#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
  color: #181825 !important;
  font-weight: 600
}

#tabbrowser-tabs .tabbrowser-tab .tab-content {
  font-size: 12px !important;
  font-weight: 400;
  color: #cdd6f4 !important;
}

#tabbrowser-tabs .tabbrowser-tab {
  margin-inline: 6px !important;
}

.urlbarView-row {
  margin-inline: 8px;
}

.urlbarView-row[selected] {
  background: #89b4fa !important;
  border-radius: 0.75rem !important;
  
  .urlbarView-title, .urlbarView-switchToTab {
    color: #181825 !important;
  }
}

.urlbarView-title {
  margin-right: 0.5rem
}

#urlbar-label-box {
  background: #89b4fa !important;
  
  label {
    color: #181825 !important;
  }
}

#urlbar[open] > .urlbarView > .urlbarView-body-outer > div {
  border: none !important;
}

.urlbar-background {
  outline: none !important;
}

.zen-current-workspace-indicator-name {
  color: #7f849c
}

:host(:is(.anonymous-content-host, notification-message)), :root { 
  --input-bgcolor: #1e1e2e !important;
  --zen-input-border-color: transparent !important;
}

#statuspanel {
  margin: 6px !important;
}

#statuspanel-label {
  border-radius: 10000px !important;
  padding: 4px 10px !important;
  background: var(--zen-colors-tertiary) !important;
  color: #cdd6f4 !important;
}

menupopup {
--panel-border-radius: 1rem !important;
}

menuitem {
  color: #cdd6f4;
}

menuitem:hover {
  background: #89b4fa !important;
  color: #181825 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #181825 !important;
}

  #tabbrowser-tabbox{
    --zen-split-row-gap: 0 !important;
    --zen-split-column-gap: 0 !important;
    padding: 0 !important;
  }